menu {
   width: 100%;
   max-width: 310px;
   padding: 4px 6px;
   background-color: #333333;
}

menu ul {
   list-style: none;
   color: #FFFFFF;
}

menu ul div {
   height: 70px;
   cursor: pointer;
}

menu ul div li {
   display: flex;
   font-size: 18px;
}

menu ul div li div {
   display: flex;
}

menu ul div li div div {
   width: 65px
}

menu ul div li div div img {
   height: 35px;
   margin: auto;
}

menu ul div li span {
   margin-top: 7px;
   margin-left: 10px;
   margin-top: 24px;
}

menu ul div:hover {
   background-color: #C4C4C4
}