.container-page {
   height: 100vh;
   max-width: 1300px;
   margin: 0 auto;

   display: flex;
   flex-direction: column;
}

#page-character {
   width: 100%;
   height: 100%;

   display: flex;
}

#page-character .content {
   width: 100%;
   margin: 0 auto;
   padding: 27px;
   background-color: #f0f0f5;
}

#page-character .content main {
   width: 100%;

   display: flex;
   flex-direction: column;
}

#page-character .content main p {
   padding-top: 25px;
}